<%- include('./partials/header') %> 
<%- include('./partials/nav') %> 
<%- include('./partials/message') %> 

    <h2>Edit Car</h2>
<form action="/sell/<%=carData.id%>/edit" method="post">

    <label>Choose Brand</label>
    <br>
    <select name="BrandId" >
        <% brandData.forEach(each=> { %>
        <option value="<%= each.id %>" <%= each.id === carData.BrandId ? 'selected' : '' %>>
            <%= each.brandName %>
        </option>
        <% }) %>
    </select>
    
    <br><br>

  <label>Models</label><br>
  <input type="text" placeholder="Input your car model" name="model" value="<%= carData.model %>">
  <br><br>

  <label>Image Url</label><br>
  <input type="text" placeholder="Input your car image" name="imageUrl" value="<%= carData.imageUrl %>">
  <br><br>

  <label>Year</label><br>
  <input type="number" placeholder="Input your car year" name="year" value="<%= carData.year %>">
  <br><br>

  <label>Color</label><br>
  <input type="text" placeholder="Input your car color" name="color" value="<%= carData.color %>">
  <br><br>

  <label>Price</label><br>
  <input type="number" placeholder="Input your car price" name="price" value="<%= carData.price %>">
  <br><br>

  <label>cc</label><br>
  <input type="number" placeholder="Input your car cc" name="cc" value="<%= carData.Detail.cc %>">
  <br><br>

  <label>Mileage</label><br>
  <input type="number" placeholder="Input your car mileage" name="mileage" value="<%= carData.Detail.cc %>">
  <br><br>
  
  <label>Transmission</label>
  <br>
  <select name="transmission">
    
    <option <%- carData.Detail.transmission == 'Manual' ? 'selected' : '' %> value="Manual">Manual</option>
    <option <%- carData.Detail.transmission == 'Automatic' ? 'selected' : '' %> value="Automatic">Automatic</option>
  
  </select>
  <br><br>

  <label>Description</label><br>
  <div>
  <textarea type="text" placeholder="Input your car description here" name="description" cols="30" rows="10"><%= carData.Detail.description %></textarea>
  <br><br>

  <input type="submit" value="submit">
</form>

<%- include('./partials/footer') %> 