<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Sell</title>
</head>
<body>

    <table border="1">
        <tr>
          <th>Brand</th>
          <th>Model</th>
          <th>Image</th>
          <th>Year</th>
          <th>Transmission</th>
          <th>Color</th>
          <th>cc</th>
          <th>mileage</th>
          <th>price</th>
          <th>Details</th>
          <th>Action</th>
        </tr>
    
        <% data.forEach(each => { %>
          <tr>
            <td><%= data.Brand.brandName %></td>
            <td><%= data.model %></td>
            <td><%= data.imageUrl %></td>
            <td><%= data.year %></td>
            <td><%= data.Detail.transmission %></td>
            <td><%= data.color %></td>
            <td><%= data.Detail.cc %></td>
            <td><%= data.Detail.mileage %></td>
            <td><%= data.price %></td>
            <td><a href="#">Details</a></td>
            <td>
              <a href="#">Add Car</a>
              <a href="#">Edit Car</a>
              <a href="#">Delete Car</a>
            </td>
          </tr>
          <% }) %>
      </table>  

</body>
</html>